/*   
Project: Hello World Personal Page
Project URI: http://timpotter.github.io
Author: Tim Potter
Author URI: http://littlethunder.co
*/


/* Reset Browser Defaults*/

* {
  padding:0;
  margin: 0;
}

*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* Typography */
body {
   
  font-family: 'Oswald', 'helvetica', 'arial', 'futura' sans-serif;
  font-weight: normal;
  color: #D3C089;
   -webkit-font-smoothing: antialiased;
}

header {
  
  text-transform: uppercase;
}

header p {
  letter-spacing: 2px;
  font-weight: 300;
}


}

h1 {
  font-weight: 100;
  font-size: 3em; /* 48/16 */
  
  line-height: 1em;
}

.p {text-align: center;}

p {
  line-height: 1.75em;
}

.about p:nth-of-type(1) { 
  font-size: 1.5em; /* 24/16 */
  line-height: 1.5em;
}

.about p {
  padding-bottom: 20px;
  text-align: center;
}

footer p {
  text-align: center;
  font-size: 0.625em; /* 10/16 */
}

small {
  text-align: center;
}

strong {
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #D3C089;
}

a:hover {
  text-decoration: underline;
  color: #D3C089;
}


.social a {
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.social a:hoverhover {
  opacity: 0.8;
}

.social li {
  display: inline;
  margin: 5px;
  color: #3E5B3B;
}

/* Images */

.background {
   /* Delete background class from <header> for a vanilla style */
   background: url(../images/colorado.jpg) no-repeat center center fixed; 
    background-attachment: fixed
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.avatar {
  margin-bottom: 30px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: -30px;
}

.social li img {
  width: 50px;
}

/* Layout */

.container {
  width: 100%;
  margin: 0;
  background-color: rgba(66, 102, 62, 0.5);
 padding-top: 5em;
    padding-bottom: 2em;
}

.social {
  margin-top: 60px;
  text-align: center;
}

footer {
  margin-top: 30px;
}


/* Responsive Styles */

@media only screen and (min-width: 1920px) {
  .background {
    background-size: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .container {
    width: 90%;
    margin-top: 50px;
    padding: 0 30px 30px; 
  }

  h1 {
    font-size: 2.25em; /* 36/16 */
    
  }

  .social {
    margin-top: 20px;
  }

  .about p {
    text-align: center;
    padding-bottom: 15px;
  }
  
  .about p:nth-of-type(1) { 
    font-size: 1.25em; /* 20/16 */
    text-align: center;
  }

    .p1 {margin-bottom:2em;}
    /*-----nav-----*/
    
    nav {  
    
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    background: black;
    width: 100%;
    }
    

nav ul {
        text-align: center;
        letter-spacing: 2px;
    }

nav ul li {
            display: inline;
            margin: 20px;
            }
    



